body{
    font-family: 'Open Sans', sans-serif;
    width:80%;
    margin:auto;
    background-color: #a4e7f7;
}
.a{
    text-align: center;
    font-size: 25px;
    color:#006266;
    font-weight: bold;
    text-decoration: underline;
}

.b1{
    font-weight: bold;
    color: #c23616;
    text-decoration: underline;
}
.a2{
    color: black;
    text-align: justify;
}
img{
    width:100%;
    height: 500px;
    border:1px solid black;
    
}
ul li{
    text-align: justify;
}